.login-container {
  background: linear-gradient(to right, #7c73c0, #e8ffce);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.bg{
  width: 100%;
  height:auto;
min-height:100vh;
  background-image:url(http://i.imgur.com/w16HASj.png);
  background-size: 100% 100%;
  background-position: top center;
}

.content{
margin-top: 20%;
}

.centered {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}
i{
padding:5px;
color:white;

}

.conform
{
  color: white;
  margin-top: 25px;
}

.firstLine{
font-size: 30px;
color: white;
}

@media only screen and (max-width: 600px) {
.firstLine{
font-size: 20px;
}
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  /* height: 17vh; */
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
